:root {
    --max-width: 1100px
}

* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

header {
    width: 100%;
    background: #e9f5db;
    padding: 10px;
    align-items: center;
}

.menu {
    width: 200px;
    margin-left: calc(50% - 100px);
    right: 20px;
    top: 10px;
    display: flex;
    gap: 12px
}

.menu a {
    text-decoration: none;
    color: #87986a
}

.menu a:hover {
    color: #718355
}

.site-title {
    color: #718355;
    text-align: center;
    margin: 30px 0 20px
}

main {
    width: 90%;
    max-width: var(--max-width);
    margin-bottom: 40px
}

.intro p {
    text-align: justify;
    font-style: italic;
    margin: 1cm 0 1cm;
}

.two-columns {
    display: flex;
    gap: 20px;
    margin-top: 20px
}

.col {
    flex: 1;
    background: #e9f5db;
    padding: 15px;
}

@media(max-width:850px) {
    .two-columns {
        flex-direction: column
    }
}

a {
    color: #718355
}

a:hover {
    color: #0000FF
}

.links {
    margin-top: 1cm;
}

.links-div {
    align-items: center
}